.cover_conatiner {
	border-color: #dfdfdf;
}
.avatarconatainer {
	position: absolute;
	/* left: 130px; */
	/* left: 8.125em; */
	/* bottom: 100px; */
	/* bottom: 6.25em; */
	top: 14em;
}
.coverimage {
	width: 800px;

	/* height: 300px; */
	height: 50vh;
}
.editcoverimg {
	position: absolute;
	background-color: rgb(16, 8, 8);
	/* top: 110px; */
	/* top: 19vh; */
	top: 6.575em;
	/* left: 850px; */
	left: 53.5em;

	text-align: center;
}
.about_container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 80px;
	/* background-color: green; */
}
.fullname {
	margin-left: 100px;
}
.moresetting_container {
	border-color: #dfdfdf;
}
.avatar_image {
	width: 200px;
	height: 200px;
}
.tooltiplogout {
	position: relative; /* Required for the tooltip to be positioned relative to the button */
}

.tooltiplogout::after {
	content: "Logout"; /* The text to show in the tooltip */
	display: none; /* Hide the tooltip by default */
	position: absolute; /* Position the tooltip relative to the button */
	bottom: 100%; /* Position the tooltip above the button */
	left: 50%; /* Center the tooltip horizontally */
	transform: translateX(-50%); /* Center the tooltip horizontally */
	background-color: #000; /* Tooltip background color */
	color: #fff; /* Tooltip text color */
	padding: 5px; /* Add some padding to the tooltip */
	border-radius: 5px; /* Add rounded corners to the tooltip */
	white-space: nowrap; /* Prevent line breaks in tooltip text */
}

.tooltiplogout:hover::after {
	display: block; /* Show the tooltip when hovering over the button */
}

.editavatarImage {
	background-color: none;
}
/* .editavatarImage:hover {
	background-color: none;
} */
@media only screen and (max-width: 450px) {
	.userprofile_container {
		/* border-color: #dfdfdf; */
		/* height: 80vh; */
		scroll-behavior: auto;
	}
	.userprofile_container {
		/* height: 70vh; */
		/* background-color: green; */
		height: 44em;
		flex-direction: column;
		margin-top: -100px;
		/* height:  */
	}
	.about_container {
		margin-top: 40px;
		/* background-color: green; */
	}

	.coverimage {
		/* height: 20vh; */
		height: 10.5em;

		/* background-color: yellow; */
	}

	.avatarconatainer {
		/* width: 100vw; */
		/* position: absolute; */
		/* justify-content: center; */
		/* left: 3.75em; */
		/* bottom: 100px; */
		/* bottom: 37.5em; */
		/* left: 6vh;
		bottom: 60vh; */
		/* width: 60px;
		height: 60px; */
		/* background-color: red; */
		/* top: 100px; */
		top: 10em;
		/* top: calc(100% - 10vh); */
	}

	.avatar_image {
		width: 100px;
		height: 100px;
	}
	.moresetting_container {
		/* background-color: blue; */
		margin-top: 2vh;
		width: 100%;
		padding: 0;
		margin-left: 0;
		margin-right: 0;
	}

	.full_name_conatiner input {
		/* background-color: pink; */
		width: 150px;
		margin: 0;
		border: 1px solid black;
	}
	.coverImage_container_mobile {
		right: -80px;
		/* z-index: 100; */
		top: 10px;
	}
	.editcoverimg {
		position: absolute;
		/* background-color: white; */
		/* top: 110px; */
		/* left: 300px; */
		left: calc(100% - 3.2rem);
		top: 5em;
		/* color: black; */

		/* background-color: red; */

		/* width: 30px; */
		/* height: 30px; */
		text-align: center;

		/* border-radius: 100px; */
	}
	.coverImage_container_button {
		right: -36px;
		top: 10px;
	}

	.editavatarImage:hover {
		background-color: none;
		border: none;
		border-radius: 100px;
		/* top: 26px;
		left: 60px; */
	}
}
