.cover_conatiner {
	border-color: #dfdfdf;
}
.avatarconatainer {
	position: absolute;
	left: 130px;
	bottom: 100px;
}
.coverimage {
	width: 800px;
	height: 300px;
}
.editcoverimg {
	position: absolute;
	background-color: white;
	top: 110px;
	left: 850px;
	/* width: 30px; */
	/* height: 30px; */
	text-align: center;

	/* border-radius: 100px; */
}
.about_container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 80px;
	/* background-color: green; */
}
.fullname {
	margin-left: 100px;
}
.moresetting_container {
	border-color: #dfdfdf;
}

@media only screen and (max-width: 400px) {
	.userprofile_container {
		/* height: 70vh; */
		/* background-color: green; */
		flex-direction: column;
	}
	.cover_conatiner {
		/* background-color: green; */
		/* border: 100px solid black; */
	}
	.coverimage {
		height: 20vh;
		/* background-color: yellow; */
	}
	.editcoverimg {
		left: 320px;
	}
	.avatarconatainer {
		left: 30px;
		bottom: 400px;
		/* background-color: red; */
	}
	.moresetting_container {
		/* background-color: blue; */
		margin-top: 2vh;
		width: 100%;
		padding: 0;
		margin-left: 0;
		margin-right: 0;
	}
	.about_container {
		/* background-color: yellow; */
		/* padding-top: 150px; */
		/* text-align: center; */
		/* margin: 0; */
	}
}
