/* #E5E5E5 */
.navbar_title {
	background-color: #e5e5e5;
}
.navbar_box {
	/* background-color: green; */
	width: 80%;
	display: flex;
	justify-content: center;
	margin: auto;
	margin-left: 160px;
}

.navbar {
	background-color: #ffffff;
	width: 42vw;
	height: 8vh;
	border: 1px solid black;

	/* border-right: 1px solid red; */
	border: 1px solid #dfdfdf;
	border-radius: 100px;
	border-color: #dfdfdf;
}
.icon_conatiner {
	width: 6vw;
	height: 8vh;
	border: 1px solid #dfdfdf;
	border-left: 1px solid #dfdfdf;
	border-radius: 0 100px 100px 0;
	position: absolute;
	left: 36vw;
	/* background-color: grey; */
	background-color: #f0f0f0;
}
.search_icon {
	margin: auto;
	margin-right: 80px;
	width: 100%;
	margin-top: 10px;
}
.mic_container {
	background-color: #f0f0f0;
	width: 40px;
	height: 40px;
	border-radius: 100%;
}
.mic {
	margin: auto;
	text-align: center;
	margin-top: 6px;
}

.tooltiplogout {
	position: relative; /* Required for the tooltip to be positioned relative to the button */
}

.tooltiplogout::after {
	content: "Logout"; /* The text to show in the tooltip */
	display: none; /* Hide the tooltip by default */
	position: absolute; /* Position the tooltip relative to the button */
	bottom: 100%; /* Position the tooltip above the button */
	left: 50%; /* Center the tooltip horizontally */
	transform: translateX(-50%); /* Center the tooltip horizontally */
	background-color: #000; /* Tooltip background color */
	color: #fff; /* Tooltip text color */
	padding: 5px; /* Add some padding to the tooltip */
	border-radius: 5px; /* Add rounded corners to the tooltip */
	white-space: nowrap; /* Prevent line breaks in tooltip text */
}

.tooltiplogout:hover::after {
	display: block; /* Show the tooltip when hovering over the button */
}

.tooltipprofile {
	position: relative; /* Required for the tooltipprofile to be positioned relative to the button */
}

.tooltipprofile::after {
	content: "Profile"; /* The text to show in the tooltipprofile */
	display: none; /* Hide the tooltipprofile by default */
	position: absolute; /* Position the tooltipprofile relative to the button */
	bottom: 100%; /* Position the tooltipprofile above the button */
	left: 50%; /* Center the tooltipprofile horizontally */
	transform: translateX(-50%); /* Center the tooltipprofile horizontally */
	background-color: #000; /* tooltipprofile background color */
	color: #fff; /* tooltipprofile text color */
	padding: 5px; /* Add some padding to the tooltipprofile */
	border-radius: 5px; /* Add rounded corners to the tooltipprofile */
	white-space: nowrap; /* Prevent line breaks in tooltipprofile text */
}

.tooltipprofile:hover::after {
	display: block; /* Show the tooltipprofile when hovering over the button */
}

@media only screen and (max-width: 450px) {
	.search_box_container {
		display: none;
	}
}
